/* General style with transparency */
#waybar {
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border: 1px solid #555555;
    border-radius: 6px;
    padding: 5px;
    margin: 10px;
}

/* Style for individual modules with black background and white text */
.window-title, .network, .memory, .cpu, .clock {
    background-color: rgba(0, 0, 0, 0.0); /* not transparent black background */
    color: #ffffff; /* White text */
    padding: 2px 5px;
    margin-right: 25px;
    border-radius: 4px;
}

/* Tooltip style */
.tooltip {
    background-color: #333333;
    border: 1px solid #777777;
    border-radius: 4px;
    padding: 2px 5px;
}
