{
    email domains@r6t.io
    acme_dns route53
}

jellyfin.r6t.io {
    reverse_proxy 127.0.0.1:8096
    tls {
        dns route53
    }
}

ollama.r6t.io {
    reverse_proxy 127.0.0.1:11434
    tls {
        dns route53
    }
}

immich.r6t.io {
    reverse_proxy 127.0.0.1:2283
    tls {
        dns route53
    }
}
