* {
	font-size: 18px;
	font-family: monospace;
}

window#waybar {
	background: #222222; /* Dark grey background */
	color: #FFFFFF; /* White text */
}

#hyprland-workspaces,
#clock,
#pulseaudio,
#backlight,
#cpu,
#memory,
#network,
#battery,
#tray {
	background: #000000; /* Black background */
	margin: 3px; /* Gaps between modules */
	border-radius: 5px; /* Add some rounding */
	padding: 0 10px;
}
#workspaces button {
	padding: 0 2px;
	color: #FFFFFF; /* White text */
	background: #222222; /* Dark grey background */
}
#workspaces button.active {
	color: #000000; /* Black text */
	background: #0FF0FC; /* Cyan background */
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #000080; /* Navy background */
	border: #0FF0FC; /* Cyan border */
	padding: 0 3px;
}
#pulseaudio,
#backlight,
#cpu,
#memory,
#network,
#battery {
	color: #FFFFFF; /* White text */
}
